<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Imember" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IQuizService">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://220.90.180.84:7000/GetService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Imember" contract="ServiceReference1.Imember"
                name="BasicHttpBinding_Imember" />
            <endpoint address="net.tcp://220.90.180.112:8000/Gaming" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IQuizService" contract="ServiceReference2.IQuizService"
                name="NetTcpBinding_IQuizService" />
        </client>
    </system.serviceModel>
</configuration>